<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
$(function () {
    $('#js-button').click(function () {
        console.log(document.referrer);
        top.postMessage("There is no one else beside Him", origin);
    });
});
</script>
</head>
<body>
<button id="js-button">Send message to parent</button>
</body>
</html>
